@import '../../assets/colors/colors-variables.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 22px;
  margin-bottom: 26px;
  height: 80px;
  width: 100%;
  background-color: $white;
}

.logo_btn {
  color: $black;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  opacity: 85%;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 60%;
  }
}

.sign_in_btn {
  color: $black;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  opacity: 85%;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 60%;
  }
}

.sign_up_btn {
  padding: 10px 18px;
  border: 1px solid $success-color;
  color: $success-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  border-radius: 5px;
  transition:
    color 0.2s ease-in-out,
    background-color 0.2s ease-in-out;

  &:hover {
    background-color: $success-color;
    color: $white;
  }
}

.profile_nav {
  display: flex;
  align-items: center;
  gap: 28px;
}

.main {
  margin: 0 auto;
  width: 940px;
}
