@import '../../assets/colors/colors-variables.scss';

.article {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 15px;
  width: 100%;
  min-height: 140px;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba($black, $alpha: 0.15);
  overflow-wrap: break-word;
  overflow: hidden;
}

.single_page_article {
  min-height: 800px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.single_page_header {
  margin-bottom: 16px;
}

.title_line {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 4px;
}

.title {
  max-width: 600px;
  color: $main-blue;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.1s ease-in-out;

  &:hover {
    color: $hover-blue;
  }
}

.single_page_article_title {
  max-width: 600px;
  color: $main-blue;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}

.description {
  max-width: 642px;
  overflow-wrap: break-word;
  color: $black;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  opacity: 60%;
}

.delete_article_btn {
  padding: 6px 18px;
  color: $danger-red;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  border: 1px solid $danger-red;
  border-radius: 5px;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;

  &:hover {
    background-color: $danger-red;
    color: $white;
  }
}

.edit_article_btn {
  padding: 6px 20px;
  color: $success-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  border: 1px solid $success-color;
  border-radius: 5px;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;

  &:hover {
    background-color: $success-color;
    color: $white;
  }
}

.article_btn_block {
  display: flex;
  align-self: flex-start;
  gap: 12px;
}

.description_block {
  display: flex;
  justify-content: space-between;
}
