$bg-grey: #ebeef3;
$grey: #8c8c8c;
$dark-grey: #595959;
$input-stroke-grey: #d9d9d9;
$white: #fff;
$black: #000;
$success-color: #52c41a;
$main-blue: #1890ff;
$hover-blue: #1178da;
$disabled: #a6a6a6;
$danger-red: #f5222d;
