@import '../../../assets/colors/colors-variables.scss';

.input {
  padding: 8px 12px;
  width: 100%;
  min-width: 320px;
  min-height: 40px;
  color: $black;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border: 1px solid $input-stroke-grey;
  border-radius: 4px;
  opacity: 85%;

  &::placeholder {
    color: $input-stroke-grey;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.input_error {
  border: 1px solid $danger-red;
}
