@import '../../assets/colors/colors-variables.scss';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
  padding: 48px 32px;
  width: 384px;
  margin: 0 auto;
  background-color: $white;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba($black, $alpha: 0.15);
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.title {
  color: $black;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  opacity: 90%;
}

.inputs_block {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.input_title {
  color: $black;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  opacity: 90%;
}

.checkbox_label {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  border-top: 1px solid $input-stroke-grey;
}

.agree_policy {
  display: flex;
  gap: 8px;
}

.checkbox_text {
  color: $dark-grey;
  transform: translateY(-3px);
}

.checkbox {
  align-self: flex-start;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);

  &:checked + .customCheckbox {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='0.5' y='0.5' width='15' height='15' rx='1.5' fill='%231890FF' stroke='%231890FF'/%3e%3cpath d='M3.91308 7.03516H3.91326C3.99256 7.03525 4.07081 7.05331 4.14213 7.08798C4.21341 7.12262 4.27591 7.17295 4.32497 7.2352L3.91308 7.03516ZM3.91308 7.03516H3.09394C2.89031 7.03516 2.7766 7.26975 2.90232 7.4292L2.90237 7.42927L6.11214 11.4957L6.11218 11.4957C6.32247 11.7619 6.72568 11.7611 6.93667 11.4962L6.93708 11.4957L12.6597 4.24398C12.6598 4.24378 12.66 4.24358 12.6602 4.24338C12.7884 4.08295 12.6699 3.85 12.4689 3.85H11.6498C11.4894 3.85 11.3367 3.9235 11.2376 4.05044C11.2375 4.05055 11.2374 4.05066 11.2373 4.05077L6.52403 10.0216M3.91308 7.03516L6.52403 10.0216M6.52403 10.0216L4.32506 7.23531L6.52403 10.0216Z' fill='white' stroke='white' stroke-width='0.3'/%3e%3c/svg%3e");
  }
}
.customCheckbox {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect x='0.5' y='0.5' width='15' height='15' rx='1.5' stroke='%231890FF'/%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.button {
  width: 100%;
  min-height: 40px;
  padding: 8px 0;
  color: $white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  background-color: $main-blue;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: $hover-blue;
  }

  &:disabled {
    background-color: $input-stroke-grey;
    cursor: default;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.footer_text {
  color: $grey;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.sign_in_link {
  color: $main-blue;
  transition: color 0.1s ease-in-out;

  &:hover {
    color: $hover-blue;
  }
}

.edit_form_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 384px;
  margin: 0 auto;
}

.success_alert {
  text-align: center;
}
